{% extends "core/base.html" %}
{% block title %}Formulario de Producto{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ view.object.pk|yesno:"Editar Producto,Nuevo Producto" }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="imagenes">Imágenes del Producto:</label>
        {{ form.imagenes }}
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>
{% endblock %}