{% load static %}


<nav class="navbar navbar-expand-lg navbarbg">
    <div class="container-fluid">
        <!-- Botón de hamburguesa para pantallas pequeñas -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Logo -->
        <a class="navbar-brand" href={% url 'core:index' %}>
            <img src="{% static 'assets/Barron On.svg' %}" alt="Logo" width="120" height="60">
        </a>
        <!-- Secciones del navbar -->
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item">
                    <a href="{% url 'core:index' %}" class="nav-link active" id='navbrcolorletras'
                        aria-current="page">Inicio </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link active" id='navbrcolorletras' aria-current="page"
                        href="./src/pages/tienda.html">Tienda</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'core:nosotros' %}" class="nav-link active" id='navbrcolorletras' aria-current="page"
                    >Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id='navbrcolorletras' aria-current="page"
                        href="./src/pages/contacto.html">Contacto</a>
                </li>
                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link{% if request.path == '/administrar_productos/' %} active{% endif %}" href="{% url 'productos:productocategoria_list' %}" id='navbrcolorletras' aria-current="page">Administrar Productos</a>
                    </li>
                {% endif %}
            </ul>
            <!-- Formulario de búsqueda -->
            <form class="d-flex" role="buscar">
                <input class="form-control me-2" type="buscar" id="inputbusquedablanco"
                    placeholder="Buscar en Barro.On..." aria-label="Buscar">
                <button class="btn btn-outline-success" id="botonbuscarcolor" type="submit">Buscar</button>
            </form>

            {% if user.is_authenticated %}
            <!-- Enlace de cerrar sesión -->
            <form class="navbar-brand" action="{% url 'core:logout' %}" method="post" style="color: white;">
                <img src="{% static 'assets/iconoperfilnavbar.webp' %}" alt="Cerrar sesión" width="70" height="70">
                {% csrf_token %}
                <button type="submit"> Cerrar Sesión </button>
                
            </form>
            {% else %}
            <!-- Enlace de iniciar sesión -->
            <a class="navbar-brand" href="{% url 'core:login' %}" style="color: white;">
                <img src="{% static 'assets/iconoperfilnavbar.webp' %}" alt="Iniciar sesión / Registro" width="70"
                    height="70">
                Iniciar Sesión
            </a>
            {% endif %}

            <!-- Icono de carrito -->
            <a class="navbar-brand" id="carritoicon" href="{% static 'src/pages/carrito.html' %}">
                <img src="{% static 'assets/iconocarritonavbar.webp' %}" alt="Carrito" width="65" height="60">
            </a>
        </div>
</nav>