{% extends 'core/base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
            <input type="hidden" name="next" value="{% url 'core:index' %}">
            
            <Button type="submit" class="btn btn-primary" value="{% url 'core:index' %}"> iniciar sesion</Button>
            <a href="{% url 'core:index' %}"> Cancelar</a>
    </form>

    <!-- Aquí va el contenido específico de la página de inicio -->
{% endblock %}